## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [4]:
s="Hi there dad!"
a=s.split()
b=list(a)
print(b)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet="Earth"
diameter=12742
a="The diameter of {0} is {1} kilometers".format(planet,diameter)
print(a)

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [6]:
lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2]
a=str(a)
b=a.strip('[').strip(']')
print(b)

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#Tuple is immutable (i.e) values stored in tuple cannot be changed
#List is mutable (i.e) values stored in a list can be changed.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [9]:
def mail(a):
    return a.split('@')[1]
a='user@domain.com'
mail(a)

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [10]:
def Func(a):
    b=a.split()
    if 'cat' in b:
        return True

a="Do You have a cat ?"   
Func(a)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [11]:
def Func(a):
    b=a.count('dog')
    return b
a="This dog is smarter than the other dog"
Func(a)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [13]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [14]:
caught_speeding(86,True)

'Big Ticket'

In [15]:
caught_speeding(76,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [16]:
emp=[5000,6000,5500,3000,4000]
for i in emp:
    print(i)
a=sum(emp)
print('Total Salary Expenditure:',a)

5000
6000
5500
3000
4000
Total Salary Expenditure: 23500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [18]:
a={'Empid':1,'Empname':'Pavals','Basicpay':50000}
b={'DeptName':'CSE','DeptId':101}
a.update(b)
print(a)

{'Empid': 1, 'Empname': 'Pavals', 'Basicpay': 50000, 'DeptName': 'CSE', 'DeptId': 101}